* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-size: 100%;
}

.landing-container {
	position:relative;
	height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}

.video-container{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	overflow:hidden;
}



.content-container {
	position:absolute;
	height:100vh;
	display:flex;
	flex-direction:column;
	text-align: center;
	justify-content: center;
}


/* This needs looking into */
/* .scroll-down {
	justify-self: flex-end;
} */
/* .weather-text {
	position:absolute;
} */



.main-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100vh;
}

.result-main {
	display:flex;
}

li {
	list-style-type: none;	
}

.result-minor {
	display: flex;
}

.weather-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
}