* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
}

.landing-container {
	position:relative;
	height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}

.video-container{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	overflow:hidden;
}



.content-container {
	position:absolute;
	height:100vh;
	display:flex;
	flex-direction:column;
	text-align: center;
	justify-content: space-around;
}


.main-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100vh;
	justify-content: space-around;
}

.form-container {
	display: flex;
	flex-direction: row;
	padding:50px 0px 20px 0px;
	font-size: 1.2em;
}

.weather-search {
	font-size:1.5em;
}

.form-switch {
	padding-left: 4em;
}

.result-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:2em;
	flex-grow: 1;
}

li {
	list-style-type: none;	
}

.result-details {
	font-size:1.5em;
	justify-content: space-around;
}

.result-high-low {
	display: flex;
	justify-content: space-around;
}

.weather-text {
	font-size: 5em;
}
