*, h1, h2, h3, ul, li, p {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
	color: white;
	height:100vh;
	background-color: rgb(14, 11, 41);
}

/*Text and icon sizes*/
.title-text {
	font-size: 1.5em;
	text-transform: uppercase;
}

#blue-title-text {
	font-size: .8em;
	color: rgb(100, 134, 246);
}

.result-text-size {
	font-size: 1.7em;
	font-weight:bold;
}

#result {
	font-size: 4em;
}

.hero-text {
	font-size:1.5em;
}

@media (max-width:1024px) {
	.result-text-size {
		font-size: 1.5em
	}

	.hero-text {
		font-size:1.2em;
	}
}


@media (max-width:380px) {
	.result-text-size {
		font-size: 1.2em;
	}
}

#city-name{
	font-size:1.3em;
}



.main-container {
	height:100vh;
}

.nav-container {
	position:fixed;
	top: 15px;
	left: 0;
	width: 100%;
	display:flex;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: space-between;
	padding:15px 15px;
	animation-name: move;
	animation: move 2s ease-out;
}

@keyframes move {
	0% {
		transform: translateY(30%);
	}
	100% {
		transform:translateY(0);
	}
}



.nav-right-container ul{
	display:flex;
	width:40vw;
	justify-content: space-around;
}

li {
	list-style-type: none;
}

@media(max-width:680px) {
	h1 {
		font-size:1em;
	}
}


.hero-container {
	position:relative;
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100vh;
	justify-content: center;
}

.form-container {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-between;	
}

/* #weather-search {
	color: black;
	display: flex;
	flex-direction: column;
} */

#city {
	width: 30vw;
	height:2em;
	border: 0px;
	appearance: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);
}

#submit-button {
	border: none;
	background: none;
	color: white;
	font-size: 1.3em;
}

.form-switch {
	padding-left: 4em;
}


.result-container {
	width:60vw;
	height:50vh;
	border:none;
	border-radius: 20px;
	position:relative;
}

@media(max-width:820px) {
	.result-container{
		width:75vw;
	}
}

@media(max-width:550px) {
	.result-container{
		width: 90vw;
	}
}


.result-text {
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	width:100%;
	height:100%;
	position:absolute;
	color: black;
	border-radius: 20px;
	z-index:100;
}

@media(max-width:380px) {
	.result-text {
		display:flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}


.result-left {
	display: flex;
	flex-direction: column;
}

.result-right {
	display: flex;
	flex-direction: column;
}

.result-details {
	display: flex;
	flex-direction:column;
	align-items: center;
}

.result-bottom {
	display: flex;
}

#result-low{
	padding-right:1em;
}

#weather {
	text-transform: capitalize;
}





